<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>


</style>

<body>
    <%- include('header') %>

        <!--product details form -->

        <section class="vh-100 productAdmin " style="background-color: rgb(206, 206, 206);padding:30px;">
            <div class="container h-80 rounded" style="background-color: rgb(254, 254, 254);">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-lg-12 ">
                        <div class=" text-black" style="">
                            <div class="card-body p-md-3">
                                <div class="row justify-content-center">
                                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-2">

                                        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign Up</p>

                                        <form class="mx-1 mx-md-4">

                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="name" id="name" class="form-control"
                                                        placeholder="name" />
                                                </div>
                                            </div>




                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="email" id="email" class="form-control"
                                                        placeholder="Email" />
                                                </div>
                                            </div>


                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="password" id="password" class="form-control"
                                                        placeholder="Password" />
                                                </div>
                                            </div>

                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="password" id="confirmPassword" class="form-control"
                                                        placeholder="Confirm Password" />
                                                </div>
                                            </div>
                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <select name="gender" id="gender" class="form-control ">
                                                        <option value="">Gender</option>
                                                        <option value="Male">Male</option>
                                                        <option value="Female">Female</option>
                                                        <option value="Others">Others</option>
                                                    </select>
                                                </div>
                                            </div>



                                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                                <button type="button" id="btn-signUp"
                                                    class="btn btn-primary btn-lg btn-block"
                                                    style="width:100%;">SignUp</button>
                                            </div>

                                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                                <button type="button" id="btn-login"
                                                    class="btn btn-primary btn-lg btn-block"
                                                    style="width:100%;background-color: #3b5998;"><a class="nav-link"
                                                        href="<%=baseURL%>/login/">Login</a></button>
                                            </div>



                                        </form>

                                    </div>
                                    <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-1 rounded">


                                      <img  src="https://source.unsplash.com/random/1920x1080/?ecommerce" class="img-fluid rounded" alt="Sample image"
                                            style="height:100%;object-fit: cover;">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

</body>

<script>

    $('#btn-signUp').click(() => {
        let name = document.querySelector('#name').value;
        let email = document.querySelector('#email').value;
        let password = document.querySelector('#password').value;
        let confirmPassword = document.querySelector('#confirmPassword').value;
        let gender = document.querySelector('#gender').value;
        // console.log(name,email,password,confirmPassword,gender);

        if (name == "" || email == "" || password == "" || confirmPassword == "" || gender == "") {
            alert('Please fill all the field');
            return;
        }
        if (password != confirmPassword) {
            alert('password dosent match');
            return;
        }


        $.ajax({
            url: "<%=baseURL%>/api/signUp",
            type: "POST",
            dataType: "JSON",
            data: {
                "name": name,
                "email": email,
                "password": password,
                "gender": gender,
            },
            async: false,
            success: function (data) {

                console.log(data);
                alert(data.response);
                //productDetailes?productid="+data;
                if (data.response == "success") {
                    location.href = "<%=baseURL%>/login";
                }

            },
            error: function (err) {
                console.log(err);
            }
        });

    })


</script>

</html>