<style>
  footer a {
    color: rgb(110, 110, 110) !important;
    text-decoration: none !important;
  }
  /* @media (min-width: 768px){
    .col-md-6 {
    flex: 0 0 auto;
    width: 100% !important;
}
  }
.col-md-6 {
    flex: 0 0 auto;
    width: 100% !important;
} */

  .site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
  }

  .site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
  }

  .site-footer hr.small {
    margin: 20px 0
  }

  .site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
  }

  .site-footer a {
    color: #737373;
  }

  .site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
  }

  .footer-links {
    padding-left: 0;
    list-style: none
  }

  .footer-links li {
    display: block
  }

  .footer-links a {
    color: #737373
  }

  .footer-links a:active,
  .footer-links a:focus,
  .footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
  }

  .footer-links.inline li {
    display: inline-block
  }

  .site-footer .social-icons {
    text-align: right
  }

  .site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
  }

  .copyright-text {
    margin: 0
  }

  @media (max-width:991px) {
    .site-footer [class^=col-] {
      margin-bottom: 30px
    }
  }

  @media (max-width:767px) {

    .row {
      --bs-gutter-x: -0rem !important;

    }

    .site-footer {
      padding-bottom: 0;
      padding: 34px;
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
      text-align: center
    }
  }

  .social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
  }

  .social-icons li {
    display: inline-block;
    margin-bottom: 4px
  }

  .social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
  }

  .social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
  }

  .social-icons a:active,
  .social-icons a:focus,
  .social-icons a:hover {
    color: #fff;
    background-color: #29aafe
  }

  .social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
  }

  .social-icons a.facebook:hover {
    background-color: #3b5998
  }

  .social-icons a.twitter:hover {
    background-color: #00aced
  }

  .social-icons a.linkedin:hover {
    background-color: #007bb6
  }

  .social-icons a.dribbble:hover {
    background-color: #ea4c89
  }

  @media (max-width:767px) {
    .social-icons li.title {
      display: block;
      margin-right: 0;
      font-weight: 600
    }
  }
</style>

<!-- <footer class="bg-dark text-center text-white" style="width:100%;bottom:0;">
    
    <div class="container p-4 pb-0">
      
      <section class="mb-4">
       
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
       
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-youtube"></i
        ></a>
  
       
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
       
      </section>
     
    </div>
  
  
    
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      
    </div>
  
  </footer> -->

<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">Online shopping just became easier with TrendMe Store, we bring the days best and most
          eye catching products.

          Latest Shoes, winter wear Etc Collection
          next To Original Quality 
           (Best Price,
          Fast Delivery,
          Door Step Delivery)
          <ul>
            <li>Quick Shipment : We Deliver Orders Between 5-6 Business Days, Depending On The Delivery Location.</li>
            <li> 100% Customer Satisfaction Guarantee : We Take Pride In Giving You The Best Products With The Best Services.
              Our Goal Is Also To Amaze You And Satisfy You With Our Products & Services.</li>
            <li>You Receive What You Ordered : Yes, This Sounds Crazy, But Our Customers Have Told Us That Some Online
              Stores Do Not Send What They Order! We Always Ship The Exact Item That You Ordered, No Exceptions.</p></li>
          </ul>

          

         

          
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Important links</h6>
          <ul class="footer-links">
            <li><a  href="<%=baseURL%>/terms/">Terms and Conditions</a></li>
            <li><a href="<%=baseURL%>/privacy/">Privacy Policy</a></li>
           
          </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Contacts</h6>
          <ul class="footer-links">
            <li><a href="">Mobile No : 917978756877</a></li>
            <li><a href="">Email : khanayyaz7679@gmail.com </a></li>
            
          </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
          <a href="#">TrendMe Store</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a class="dribbble" href="http://wa.me/917978756877?text=welcome to TrendMe Store,kindly send us the following details, 
            Name:  ,
            Email:  ,
            Contact:  ,
            Full Address:  ,
            Selected Product Id:  ,
            (you can edit this message also)?"><i class="fab fa-whatsapp"></i></a></li>
          
        </ul>
      </div>
    </div>
  </div>
</footer>