<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>

</head>

<body>

    <%- include('header') %>

        <div class="card-group p-5 ">
            <div class="row d-flex justify-content-center" id="card-parent">

            </div>
        </div>




</body>

<script>
    //console.log(gCookie);
    $.ajax({
        url: "<%=baseURL%>/api/productListed/" + gCookie,
        type: "GET",
        dataType: "JSON",
        async: false,
        success: function (data) {
            console.log(data);
            var product_list = "";
            $.each(data, (key, value) => {
                console.log(key, value);
              
                product_list += '<div class="card m-2 col-2">';
                product_list += '<img src = "<%=baseURL%>/assets/dsa.jpg" class="card-img-top" alt = "..." >';
                product_list += '<div class="card-body">';
                product_list += '<a href="<%=baseURL%>/productDetailes?productid=' + value._id + '"><h5 class="card-title">' + value.name + '</h5></a>';
                product_list += '<p class="card-text">' + value.description + '</p>';
                product_list += '<p class="card-text"><small class=" font-weight-bold">₹' + value.price + '</small></p>';
                product_list += '</div>';
                product_list += '</div>';

            });
            $("#card-parent").html(product_list);

        },
        error: function (err) {
            console.log(err);
        }
    });
</script>

</html>